section {
    position: relative;
}
.main-container {
  border:4px solid #c9defb;
  width: 935px;
  margin: 20px auto;
  padding: 15px 0 15px 50px;
}
/* .main-container>div {
    border-bottom: 1px dotted #cd0020;
} */
.main-container>div:after {
    content: "";
    display: block;
    width: 900px;
    border-bottom: 1px dashed  #e5e5e5;
    margin-left: -15px;
}
.main-container>div:last-child:after {
    display: none;
}

td {
    vertical-align: middle;
    width: 200px;
}
.main-container a {
    color: #000000;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-decoration:none;
}
.main-container a.has-icon {
    padding-left: 20px;
}
.main-container a.has-icon.aitb {
    background: url(./sources/tao.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.tmall {
    background: url(./sources/tmall.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.amazon {
    background: url(./sources/amazon.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.ysdq {
    background: url(./sources/ysdq.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.ju {
    background: url(./sources/ju.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.t {
    background: url(./sources/t.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.suning {
    background: url(./sources/suning.PNG) no-repeat left center;
    background-size: 18px 18px;
}
.main-container a.has-icon.ctrip {
    background: url(./sources/ctrip.PNG) no-repeat left center;
    background-size: 18px 18px;
}

.main-container a:hover {
  color:red;
  text-decoration:underline;
}

.main-container strong {
    display: inline-block;
}

.font-little {
    font-size: 6px;
}

.main-container a.middle-dot,
.main-container a.middle-dot:link,
.main-container a.middle-dot:visited,
.main-container a.middle-dot:active,
.main-container a.middle-dot:hover{
    font-weight: 900;
    cursor: auto;
    text-decoration: none;
    color: #000;
}


.main-container a.red {
    color: red;
}

.bold {
    font-weight: 600;
}

.hold-position {
    position: absolute;
    top: 100px;
    right: 200px;
    border: 2px solid red
}